services:
  paymybuddy:
    image: devsecops:v1
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - devsecops_network
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
  db:
    image: mysql:8.0
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d
    networks:
      - devsecops_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "--silent"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    
volumes:
  db_data:
    name: db_data

networks:
  devsecops_network:
    driver: bridge
    name: devsecops_network
